:root {
  --highlight: #7981fe;
  --error: #ff2f91;
  --green1: #00fa91;
  --green2: #00e8a6;
  --yellow: #d4fb7a;
  --gray1: #161616;
  --gray2: #262626;
  --gray3: #363636;
  --gray4: #464646;
  --gray15: #e6e6e6;
}

/* Global styles */
* {
	font-family: Arial, sans-serif;
}

body {
	font-size: calc(1rem + 0.5vw);
	color: var(--gray15);
	background-color: var(--gray1);
}

input, select, textarea {
	width: calc(100% - 2rem);
  border-radius: 1rem;
  border: none;
  padding: 1rem 1rem;
  color: var(--gray15);
  background-color: var(--gray1);
}

input:focus, textarea:focus {
    background-color: var(--highlight);
}

button {
	width: calc(100% - 1vw);
  display: block;
  border-radius: 1rem;
  border: none;
  padding: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--gray15);
  background-color: var(--highlight);
}

button:hover {
	background-color: var(--green2);
	color: var(--gray1);
}

button:active {
	background-color: var(--green1);
	color: var(--gray1);
}

table {
	width: 100%;
}

 /* unvisited link */
a:link {
  color: var(--highlight);
}

/* visited link */
a:visited {
  color: var(--highlight);
}

h1 {
	font-size: calc(2rem + 0.5vw);
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
  color: var(--highlight);
}

h2 {
	font-size: calc(1.5rem + 0.5vw);
	margin-top: 1rem;
	margin-bottom: 1rem;
  color: var(--highlight);
}

h3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
  color: var(--highlight);
}

img {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.time-row {
  background-color: var(--gray4)
}


.pace-row {
  background-color: var(--gray3)
}

.distance-row {
  background-color: var(--gray2)
}

